html {
	margin: 20px;
	background-color: lightgray;
}

body {
	background-color: darkblue;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
	font-weight: 33;
	color: white;

}

h1 {
	font-family: verdana;
	font-size: 50px;
}

p {
	font-size: 20px;
	color: white;
}